@font-face {
    font-family: "gameFont";
    src: url(Orifont-Regular.ttf);
}

body{
    font-family: "gameFont", sans-serif;
    background: linear-gradient(to bottom,#292A7C, #773EC8, #BC6ECA);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-sizing: border-box;
    margin: auto;
    max-width: 1200;
}
.welcome{
    color: white;
    text-align: center;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    transition: height 1s ease-in-out;
    margin-bottom:100px;

}

.welcome.after-time{
    display: flex;
    justify-content: center;
    height:10vh;
}
.part-one {
    width: 90vw;
    height: 90vh;
    max-width: 100vw;
    margin: 0 auto;
    margin-bottom: 50px;
}

.hero {
    width: 100%;
    height:400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    box-sizing: border-box;
}

.hero > div {
    flex: 1; 
    height: auto;
    aspect-ratio: 1/1;
    min-width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero .pic{
    border-radius: 50%;
    border-left: 6px solid rgba(255, 255, 255, 0.5); /* soft outer border */
    border-right: 6px solid rgba(255, 255, 255, 0.5); /* soft outer border */
    box-shadow:
        0 0 20px 5px rgb(255, 255, 255),  /* glowing aura */
        0 0 30px 10px rgba(255, 100, 0, 0.3);   /* painterly color effect */
    margin-right: 100px;
}

.hero img {
    border-radius: 50%;
    width: 100%; 
    height: 100%;
    aspect-ratio: 1/1;

}
.hero .hero-text{
    font-size: 2rem;
    color:white;
    font-family: "segoe ui light", sans-serif;
    margin-left: 100px;
}
.nav-bar{
    margin: auto;
    width:80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border:3px solid white;
    border-radius: 10px;
    height: 60px;
}
.nav-item{
    color: white;
    font-size: 1.7rem;
    cursor: pointer;
    border:2px solid transparent;
    padding:5px 10px;
    border-radius:7px;
}
.nav-item:hover{
    color: white;
    transition: color 0.3s ease-in-out;
    border: white 2px solid;
}