@font-face {
    font-family: "gameFont";
    src: url(Orifont-Regular.ttf);
}

body{
    font-family: "gameFont", sans-serif;
    background: linear-gradient(to bottom,#292A7C, #773EC8, #BC6ECA);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
padding-left: 0;}
body :first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: height 1s ease-in-out;
}
body h1{
    color: white;
    text-align: center;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    width: 0;  
}

@keyframes typing{
    from { width: 0; }
    to { width: 7ch; }
}
body div.after-time{
    display: flex;
    justify-content: center;
    height:20vh;
}